.background{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height:100vh;
	background-image: url('background.gif');
  background-color: black;
	background-size: cover; }
 

.title {
  position: absolute;
  top: 85px;
  left: 9vw;
  width: 800px;
  line-height: 120px;
  font-size: 10vw;
  color: rgb(255,255,255);
  font-family: Expletus Sans, Helvetica;
  font-weight: ; 
  letter-spacing: 7px;
  }

.title:hover {
  left: 12vw;
  opacity: .65;
  transform: scale(1.1);
  transition: all 0.001s ease-in-out;}

.date {
	position: absolute;
  top: 317px;
  left: 10vw;
  font-size: 2.25vw;
  color: rgb(255,255,255);
  font-family: Lato , Helvetica;
  font-weight:   }

.quote{
	position: absolute;
  top: 205px;
  left: 800px;
  width: 275px;
  font-size: 25px;
  color: rgb(255,255,255);
  font-family: Expletus Sans , Helvetica;
  font-style:italic;
  }

.place{
	position: absolute;
  top: 590px;
  left: 173px;
  
  font-size: 25px;
  color: rgb(255,255,255);
  font-family: Lato, Helvetica;
   ;
  }

.address{
	position: absolute;
  top: 315px;
  left: 800px;
  width: 275px;
  font-size: 20px;
  color: rgb(255,255,255);
  font-family: Lato, Helvetica; }

.nyny{
  position: absolute;
  top: 363px;
  left: 800px;
  width: 275px;
  font-size: 20px;
  color: rgb(255,255,255);
  font-family: Lato, Helvetica; }

.hours{
	position: absolute;
  top: 425px;
  left: 800px;
  width:135px;
  font-size: 20px;
  color: rgb(255,255,255);
  font-family: Lato, Helvetica; }

.hourstwo{
  position: absolute;
  top: 473px;
  left: 800px;

  font-size: 20px;
  color: rgb(255,255,255);
  font-family: Lato, Helvetica; }

.button{
  position: absolute;
  top: 537px;
  left: 788px; } 

.button:hover{
  transform: scale(1.4);
  transition: all 0.2s ease-in-out
}

.logo{
  position: absolute;
  top:575px;
  left:107px; }




@media (max-width: 1070px) {
.title{
  font-size: 11vw;
  width: 200px;
  line-height: 105px; 
  top: 80px;  }

.date{
  font-size: 2.5vw;
  top:285px;
  left: 10vw; }

.quote{
  font-size: 3vw;
  width: 600px;
  left: 10vw;
  top: 340px; }

.place{
  font-size: 3vw;
  left: 164px;
  top: 600px;
  width:800px;
  }

.logo{
  left: 9vw;
  top: 590px;}

.address{
  font-size: 2vw;
  width: 160px;
  left:40vw;
  top:425px;}

.nyny{
  font-size: 2vw;
  width: 200px;
  left:40vw;
  top:501px; }

.hours{
  font-size: 2vw;
  width: 140px;
  left: 66vw;
  top: 450px; }

.hourstwo{
  font-size: 2vw;
  width: 200px;
  left: 66vw;
  top: 501px; }

.button{
  top:453px;
  left: 13vw;
  transform: scale(1.4); }

}


@media (max-width: 711px) {
.title{
  font-size: 13vw;
  width: 200px;
  line-height: 85px; 
  top: 80px;  }

.date{
  font-size: 3.5vw;
  top:250px;
  left: 10vw; }

.quote{
  font-size: 3.5vw;
  width: 250px;
  left: 10vw;
  top: 323px; }

.place{
  font-size: 3.5vw;
  left: 131px;
  top: 597px;
  width:600px;
  }

.logo{
  left: 9vw;
  top: 580px;}

.address{
  font-size: 2.5vw;
  width: 130px;
  left:60vw;
  top:322px;}

.nyny{
  font-size: 2.5vw;
  width: 200px;
  left:60vw;
  top:385px; }

.hours{
  font-size: 2.5vw;
  width: 110px;
  left: 60vw;
  top: 460px; }

.hourstwo{
  font-size: 2.5vw;
  width: 200px;
  left: 60vw;
  top: 503px; }

.button{
  top:450px;
  left: 14vw; }

}



@media (max-width: 415px) {
.title{
  font-size: 73px;
  width: 200px;
  line-height: 80px; 
  top: 125px;  }

.date{
  font-size: 5vw;
  top:280px;
  left: 11vw; }

.quote{
  font-size: 5vw;
  width: 200px;
  left: 11vw;
  top: 350px; }

.place{
  font-size: 4vw;
  left: 95px;
  top:60px;
  width:200px; }

.logo{
  left: 7vw;
  top: 50px; }

.address{
  font-size: 3.5vw;
  width: 110px;
  top:445px;
  left: 11vw; }

.nyny{
  font-size: 3.5vw;
  width: 130px;
  left:11vw;
  top:497px; }

.hours{
  font-size: 3.5vw;
  width: 90px;
  left: 60vw;
  top: 462px; }

.hourstwo{
  font-size: 3.5vw;
  width: 200px;
  left: 60vw;
  top:496px; }

.button{
  top:600px;
  left: 19vw;
  transform: scale(1.4); }

}


