
body {
background-color: rgb(249,244,169);
}


.background{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height:100vh;
	background-image: url('backgroundtransparent.png');
	background-size: cover;
	 }


.titleone {
  position: absolute;
  top: 258px;
  left: 75px;
  font-size: 105px;
  color: rgb(255,255,255);
  font-family: 'Nixie One', cursive, Helvetica;
  font-weight: 15px ; 
  letter-spacing: 8px;
  }


.titletwo {
  position: absolute;
  top: 258px;
  left: 79px;
  font-size: 105px;
  color: rgb(210,176,220);
  font-family: 'Nixie One', cursive, Helvetica;
  font-weight: 7 ; 
  letter-spacing: 8px;
  }

 

 .buttoninfo{
  	position: absolute;
  	top: 559px;
  	left: 140px;

  }

.buttonprice{
  	position: absolute;
  	top: 559px;
  	left: 505px;
}


.buttonlocation{
    position: absolute;
    top: 559px;
    left: 870px;

}

.blue{
background-color: rgb(222,240,249);
}
.purple{
background-color: rgb(243,240,252);
}
.peach{
background-color: rgb(248,217,217);
}
.green{
background-color: rgb(211,234,217);
}

.locationbackground{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height:100vh;
  background-color:rgb(211,234,217); 
}

.infobackground{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height:100vh;
  background-image: url('sprinkles.png');
  background-color:rgb(222,240,249); 
}

.pricebackground{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height:100vh;
  background-size: cover;
  background-image: url('priceshapes.png');
  background-color:rgb(248,217,217); 
}


.map{
	position: absolute;
	top: 80px;
	left: 630px;
}

.backbutton{
	position: absolute;
  	top: 600px;
  	left: 45px;
}

.labellocation{
	position: absolute;
	left: 388px;
	top:380px;
	font-size: 37px;
  	color: rgb(255,255,255);
  	font-family: 'Nixie One', cursive, Helvetica;
  	font-weight: bold;
  	letter-spacing: 11px;
}

.labelinfo{
	position: absolute;
	left: 368px;
	top:380px;
	font-size: 37px;
  	color: rgb(255,255,255);
  	font-family: 'Nixie One', cursive, Helvetica;
  	font-weight: bold;
  	letter-spacing: 10px;
}

.labelprice{
	position: absolute;
	left: 455px;
	top:380px;
	font-size: 37px;
  color: rgb(255,255,255);
  font-family: 'Nixie One', cursive, Helvetica;
  font-weight: bold;
  letter-spacing: 10px;
}

.dark{
	opacity: 0;
}


.bright{
	opacity: 1;
}

.brightpic{
  opacity: .8;
}

.pinone{
  position: absolute;
  top: 270px;
  left: 935px;
}

.pintwo{
  position: absolute;
  top: 240px;
  left: 960px;
}

.pinthree{
  position: absolute;
  top: 260px;
  left: 742px;
}

.pinfour{
  position: absolute;
  top: 275px;
  left: 735px;
}

.pinfive{
  position: absolute;
  top: 240px;
  left: 765px;
}

.pinsix{
  position: absolute;
  top: 272px;
  left: 752px;
}

.pinseven{
  position: absolute;
  top: 218px;
  left: 760px;
}

.pineight{
  position: absolute;
  top: 345px;
  left: 767px;
}

.pinnine{
  position: absolute;
  top: 295px;
  left: 735px;
}

.pinten{
  position: absolute;
  top: 320px;
  left: 785px;
}

.pineleven{
  position: absolute;
  top: 470px;
  left: 695px;
}

.eddieslabel{
  position: absolute;
  left:100px;
  top:185px;
  font-size: 30px;
  color: purple;
  font-family: 'Nixie One', cursive, Helvetica;
  font-weight: bold;
  letter-spacing: 7px;
}

.eddiespic{
  position: absolute;
  left:100px;
  top:230px;
}

.minalabel{
  position: absolute;
  left:100px;
  top:180px;
  font-size: 30px;
  width: 300px;
  color: purple;
  font-family: 'Nixie One', cursive, Helvetica;
  font-weight: bold;
  letter-spacing: 7px;
}

.minapic{
  position: absolute;
  left:100px;
  top:260px;

}

.bigglabel{
  position: absolute;
  left:100px;
  top:185px;
  font-size: 30px;
  width: 400px;
  color: purple;
  font-family: 'Nixie One', cursive, Helvetica;
  font-weight: bold;
  letter-spacing: 7px;
}

.biggpic{
  position: absolute;
  left:100px;
  top:265px;

}

.egglabel{
  position: absolute;
  left:100px;
  top:185px;
  font-size: 30px;
  width: 400px;
  color: purple;
  font-family: 'Nixie One', cursive, Helvetica;
  font-weight: bold;
  letter-spacing: 7px;
}

.eggpic{
  position: absolute;
  left:100px;
  top:235px;
}

.tenlabel{
  position: absolute;
  left:100px;
  top:185px;
  font-size: 30px;
  width: 400px;
  color: purple;
  font-family: 'Nixie One', cursive, Helvetica;
  font-weight: bold;
  letter-spacing: 7px;
}

.tenpic{
  position: absolute;
  left:100px;
  top:230px;
}

.icelabel{
  position: absolute;
  left:100px;
  top:185px;
  font-size: 30px;
  width: 400px;
  color: purple;
  font-family: 'Nixie One', cursive, Helvetica;
  font-weight: bold;
  letter-spacing: 7px;
}

.icepic{
  position: absolute;
  left:100px;
  top:230px;

}

.amorlabel{
  position: absolute;
  left:100px;
  top:185px;
  font-size: 30px;
  width: 400px;
  color: purple;
  font-family: 'Nixie One', cursive, Helvetica;
  font-weight: bold;
  letter-spacing: 7px;
}

.amorpic{
  position: absolute;
  left:100px;
  top:240px;

}

.hilllabel{
  position: absolute;
  left:100px;
  top:185px;
  font-size: 30px;
  width: 400px;
  color: purple;
  font-family: 'Nixie One', cursive, Helvetica;
  font-weight: bold;
  letter-spacing: 7px;
}

.hillpic{
  position: absolute;
  left:100px;
  top:265px;
}

.tailabel{
  position: absolute;
  left:100px;
  top:185px;
  font-size: 30px;
  width: 400px;
  color: purple;
  font-family: 'Nixie One', cursive, Helvetica;
  font-weight: bold;
  letter-spacing: 7px;
}

.taipic{
  position: absolute;
  left:100px;
  top:230px;
}

.oddlabel{
  position: absolute;
  left:100px;
  top:185px;
  font-size: 30px;
  width: 400px;
  color: purple;
  font-family: 'Nixie One', cursive, Helvetica;
  font-weight: bold;
  letter-spacing: 7px;
}

.oddpic{
  position: absolute;
  left:100px;
  top:265px;

}

.eggerlabel{
  position: absolute;
  left:100px;
  top:185px;
  font-size: 30px;
  width: 300px;
  color: purple;
  font-family: 'Nixie One', cursive, Helvetica;
  font-weight: bold;
  letter-spacing: 7px;
}

.eggerpic{
  position: absolute;
  left:100px;
  top:265px;
}

.title{
  position: absolute;
  left:100px;
  top:55px;
  font-size: 40px;
  color: rgb(255,255,255);
  font-family: 'Nixie One', cursive, Helvetica;
  font-weight: bold;
  letter-spacing: 9px;
}

.coordinates{
position: absolute;
  left:100px;
  top:105px;
  font-size: 25px;
  color: rgb(255,255,255);
  font-family: 'Nixie One', cursive, Helvetica;
  font-weight: bold;
  letter-spacing: 11px;

}

.info{
  color: rgb(210,176,220);
}

.caption1{
  position: absolute;
  top: 150px;
  left: 100px;
  width: 170px;
  font-size: 10px;
  color: purple;
  font-family:Helvetica;
  letter-spacing: 1px;
}

.caption2{
  position: absolute;
  top: 150px;
  left: 370px;
  width: 190px;
  font-size: 10px;
  color: purple;
  font-family:Helvetica;
  letter-spacing: 1px;
}

.caption3{
  position: absolute;
  top: 150px;
  left: 637px;
  width: 190px;
  font-size: 10px;
  color: purple;
  font-family:Helvetica;
  letter-spacing: 1px;
}

.caption4{
  position: absolute;
  top: 150px;
  left: 890px;
  width: 190px;
  font-size: 10px;
  color: purple;
  font-family:Helvetica;
  letter-spacing: 1px;
}

.caption5{
  position: absolute;
  top: 450px;
  left: 915px;
  width: 170px;
  font-size: 10px;
  color: purple;
  font-family:Helvetica;
  letter-spacing: 1px;
}

.caption6{
  position: absolute;
  top: 460px;
  left: 100px;
  width: 170px;
  font-size: 10px;
  color: purple;
  font-family:Helvetica;
  letter-spacing: 1px;
}

.caption7{
  position: absolute;
  top: 460px;
  left: 370px;
  width: 170px;
  font-size: 10px;
  color: purple;
  font-family:Helvetica;
  letter-spacing: 1px;
}

.caption8{
  position: absolute;
  top: 460px;
  left: 637px;
  width: 170px;
  font-size: 10px;
  color: purple;
  font-family:Helvetica;
  letter-spacing: 1px;
}

.caption9{
  position: absolute;
  top: 320px;
  left: 795px;
  width: 160px;
  font-size: 10px;
  color: purple;
  font-family:Helvetica;
  letter-spacing: 1px;
}

.caption10{
  position: absolute;
  top: 320px;
  left: 500px;
  width: 170px;
  font-size: 10px;
  color: purple;
  font-family:Helvetica;
  letter-spacing: 1px;
}

.caption11{
  position: absolute;
  top: 320px;
  left: 235px;
  width: 170px;
  font-size: 10px;
  color: purple;
  font-family:Helvetica;
  letter-spacing: 1px;
}

.grid {
  position: relative;
  float: left;
  margin-bottom: 50px;
  margin-right: 120px;
  opacity: .8;
  
}


.grid:hover{
  opacity: 0;
  transition: all 300ms ease-in-out;

} 


.pic1{
  top: 140px;
  left: 100px;

}

.pic2{
  top: 140px;
  left: 100px;
}

.pic3{
  top: 140px;
  left: 100px;
}

.pic4{
  top: 140px;
  left: 100px;
}

.pic5{
  top: 220px;
  left: 100px;
}

.pic6{
  top: 20px;
  left: 100px;
}

.pic7{
  top: 20px;
  left: 100px;
}

.pic8{
  top: 20px;
  left: 100px;
}

.pic9{
  top: -120px;
  left: -35px;
}

.pic10{
  top: -315px;
  left: -305px;
}

.pic11{
   top: -515px;
  left: 225px;
}


.first{
  position: absolute;
  left:255px;
  top:92px;
  font-size: 25px;
  color: rgb(255,255,255);
  font-family: 'Nixie One', cursive, Helvetica;
  font-weight: bold;
  letter-spacing: 7px;

}

.second{
  position: absolute;
  left:485px;
  top:300px;
  font-size: 25px;
  color: rgb(255,255,255);
  font-family: 'Nixie One', cursive, Helvetica;
  font-weight: bold;
  letter-spacing: 7px;

}

.third{
  position: absolute;
  left:652px;
  top:92px;
  font-size: 25px;
  color: rgb(255,255,255);
  font-family: 'Nixie One', cursive, Helvetica;
  font-weight: bold;
  letter-spacing: 7px;

}

.onescoop{
  position: absolute;
  top: 10px;
  left: 7px;
}

.sundae{
  position: absolute;
  top: 0px;
  left: 0px; 
}

.milkshake{
  position: absolute;
  top: 10px;
  left: 9px;
}




