
html, body {
  margin:0px;
  padding:0px;
}

body{
	margin:auto;
	width: 88vw;
}


img{
	width:100vw;
	margin-left:-6vw;
	margin-top: 
}


h1{
	font-family: 'Fauna One', serif;
	font-size: 27px;
	line-height: 32px;
	color:rgb(21,48,86);

	/*background-color: rgb(38,38,40); */
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	margin-left:-1vw;
	width:76vw;
	margin-top: -15vw;
	text-align: center;
	
}

.title{
	position: absolute;
	margin-top: 2vw;
}


h2{
	
	font-family: myriad-pro, sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 15px;
	color:rgb(38,38,40);
	margin-left:31vw;
	margin-top: 24vw;

}

h3{
	font-family: adelle, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	color: rgb(169,169,183);
	margin-top: 1vw;

}

p{
	color:rgb(38,38,40);
	line-height: 21px;
	font-size: 16.5px;
	font-family: myriad-pro, sans-serif;
	font-weight: 300;
	font-style: normal;
	width: 79vw;
	margin-left: 17px;
}

.endnote{
	font-family: adelle, serif;
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 32px;
	width: 76vw;
	color: white ;
	background-color: rgb(38,38,40);
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	margin-left:-7vw;
}


.seemore{
	color: white;
	background-color: rgb(21,48,86);
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left: 24px;
	padding-right: 59px;
	width: 77vw;
}

.up{
	margin-top: -12vw;
}

.link{
	color: white;
	background-color: rgb(38,38,40);
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left: 24px;
	padding-right: 24px;
	font-size: 20px;
	margin-left: -7vw;
	width: 76vw;
	line-height: 24px;

}

a {
  color: white;
  text-decoration: none;
}

.pullquote{
	font-family: 'Fauna One', serif;
	color:rgb(21,48,86);
	font-size: 22px;
	line-height: 28px;
	color:rgb(21,48,86);
	width: 75vw;
	margin-left: 2vw;

}

.line{
	color: black;
	font-family: adelle, serif;
	font-style: bold;
	font-weight: 600;
	font-size: 22px;
}

.home{
	position: fixed;
	top: 0px;
	left: 35px;
	width: 80px;

}

.right{
	position: fixed;
	top: 0px;
	width: 40px;
	left: 355px;

}

.left{
	position: fixed;
	top: 0px;
	width: 40px;
	left: 355px;
}

.plastic{
	margin-left: 23vw;
}

.warm{
	margin-left: 27vw;
}

.wave{
	margin-left: 24vw;
}