
html, body {
  margin:0px;
  padding:0px;
}

body{
	margin:auto;
	width: 88vw;
}


img{
	width:100vw;
	margin-left:-6vw;
	margin-top: 
}


h1{
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	line-height: 32px;
	color: white ;
	background-color: rgb(38,38,40);
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	letter-spacing:.5px;
	margin-left:-7vw;
	width: 75vw;
	margin-top: -4vw;
}

.title{
	position: absolute;
	margin-top: -18vw;
}


h2{
	margin-top: 40px;
	font-family: adelle, serif;
	font-style: italic;
	font-weight: 400;
	font-size: 15px;
	color: rgb(21,48,86);
	margin-left: -1.5vw;

}

h3{
	font-family: adelle, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	color: rgb(169,169,183);
	margin-top: -.5vw;

}

p{
	color:rgb(38,38,40)
	line-height: 20px;
	font-size: 15px;
	font-family: adelle-sans, sans-serif;
	font-style: normal;
	font-weight: 300;
	width: 82vw;
}

.endnote{
	font-family: adelle, serif;
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 32px;
	width: 76vw;
	color: white ;
	background-color: rgb(38,38,40);
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	margin-left:-7vw;
}


.seemore{
	color: white;
	background-color: rgb(21,48,86);
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left: 24px;
	padding-right: 59px;
	width: 77vw;
}

.up{
	margin-top: -12vw;
}

.link{
	color: white;
	background-color: rgb(38,38,40);
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left: 24px;
	padding-right: 24px;
	font-size: 20px;
	margin-left: -7vw;
	width: 76vw;
	line-height: 24px;

}

a {
  color: white;
  text-decoration: none;
}

.pullquote{
	font-family: adelle, serif;
	font-style: bold;
	font-weight: 600;
	font-size: 22px;
	line-height: 30px;
	color:rgb(21,48,86);
	width: 75vw;

}

.line{
	color: black;
	font-family: adelle, serif;
	font-style: bold;
	font-weight: 600;
	font-size: 22px;
}

.home{
	position: fixed;
	top: 0px;
	left: 35px;
	width: 80px;

}

.right{
	position: fixed;
	top: 660px;
	width: 40px;
	left: 360px;
}

.left{
	position: fixed;
	top: 660px;
	width: 40px;
	left: 35px;
}