
html, body {
  margin:0px;
  padding:0px;
}

body{
	margin:auto;
	width: 88vw;
}


img{
	width:100vw;
	margin-left:-6vw;
	margin-top: 
}


h1{
	font-family: 'Fauna One', serif;
	font-size: 27px;
	line-height: 34px;
	color:rgb(21,48,86);

	/*background-color: rgb(38,38,40); */
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	margin-left:-6vw;
	width:87vw;
	margin-top:0vw;
	
}

.title{
	position: absolute;
	margin-top: 2vw;
}


h2{
	
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 15px;
	color:rgb(38,38,40);
	margin-top: 27vw;
	margin-left: -.5vw;

}

h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 13px;
	color:rgb(21,48,86);
	margin-top: 1vw;
	opacity: .7;

}

p{
	color:rgb(38,38,40);
	line-height: 24px;
	font-size: 16.5px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	width: 80vw;
	margin-left: 3vw;
}

.endnote{
	font-family: 'Fauna One', serif;
	color:rgb(21,48,86);
	font-size: 25px;
	line-height: 32px;
	width: 87vw;
	margin-left:-1vw;
	font-weight: bold;
}


.link{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 17px;
	color:rgb(38,38,40);
	line-height: 24px;
	margin-left: -.5vw;
	margin-top: -3vw;
	width: 87vw;

}

.up{
	margin-top: -12vw;
}

.seemore{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 17px;
	color:rgb(38,38,40);
	line-height: 24px;
	margin-left: 3vw;
	margin-top: -3vw;
	width:70vw;


}

a {
  color:rgb(38,38,40);
  text-decoration: none;
}

.pullquote{
	font-family: 'Fauna One', serif;
	color:rgb(21,48,86);
	font-size: 22px;
	line-height: 28px;
	color:rgb(21,48,86);
	width: 75vw;
	margin-left: -.5vw;

}

.line{
	color: black;
	font-family: adelle, serif;
	font-style: bold;
	font-weight: 600;
	font-size: 22px;
}

.home{
	position: fixed;
	top: 0px;
	left: 35px;
	width: 80px;

}

.right{
	position: fixed;
	width: 40px;
	right: 0px;
	bottom: 0px;

}

.left{
	position: fixed;
	width: 40px;
	left: 24px;
	bottom: 0px;
}

.ending{
	width: 100vw;
}

