
html, body {
  margin:0px;
  padding:0px;
}

body{
	margin:auto;
	width: 88vw;
	max-width: 500px;
}

img{
	width:101vw;
	margin-left:-6vw;
	margin-top: 
}

h1{
	font-family: 'Fauna One', serif;
	font-size: 27px;
	color:rgb(21,48,86);
	font-style: bold;
	margin-left:18.5vw;
	width:87vw;
	margin-top:0vw;

}

h2{
	
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-style: bold;
	font-size: 18px;
	color:rgb(38,38,40);
	margin-left: 12px;
	text-align: center;
	width: 80vw;
	padding-bottom: 15px;

}

.theocean{
	margin-top: -3vw;
}

.issues{
	font-family: 'Fauna One', serif;
	font-size: 27px;
	color: white;
	background-color:rgb(21,48,86);
	font-style: bold;
	width:87vw;
	margin-top:0vw;
	margin-left: -6vw;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 4px;
	padding-left: 117px;


}

.click{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-style: bold;
	font-size: 15px;
	color:rgb(161,161,178);
	background-color:rgb(21,48,86);
	font-style: bold;
	width:87vw;
	margin-top:-5vw;
	margin-left: -6vw;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 20px;
	padding-left: 108px;

}

.fact{
	margin-top: 30vw;
	color: rgb(21,48,86);
	width: 83vw;
}

.icon1{
	width: 120px;
	margin-left: 27vw;
}

.one{
	margin-top: -5vw;
}

.icon2{
	width: 120px;
	margin-left: 27vw;
}

.two{
	margin-top: -5vw;
}

.icon3{
	width: 115px;
	margin-left: 28vw;
	margin-top: -3vw;
}

.icon4{
	width: 128px;
	margin-left: 27vw;
}

.icon5{
	width: 155px;
	margin-left: 23vw;
	margin-top: -8vw;
}

.three{
	margin-top: -3vw;
}

.four{
	margin-top: -5vw;
}

.five{
	margin-top: -12vw;
}

.help{
	font-family: 'Fauna One', serif;
	font-size: 27px;
	color: white;
	background-color:rgb(21,48,86);
	font-style: bold;
	width:95vw;
	margin-left: -6vw;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;

}

a{
	color: rgb(21,48,86);
	text-decoration: none;

}

.down{
	margin-top: 5vw;
}

