h1 {
	color: rgb(255,211,68);}

p{
	color: white; }

p{
	width: 600px;
}

ol{
	background-color:rgb(255,211,68);width: 500px

}

body{
	background-color: black
}

h2{color: white;}

h3{color: white;}

img{
	opacity: .75
}