body{
	margin:auto;
	max-width: 500px;

}

.background{
	background-position: center;
	background-repeat: no-repeat;
	width: 170vw;
}

.back.alarming{
	opacity: .75;
}

.mars{
	position: absolute;
	width: 40vw;
	top: 20vw;
	left:10vw;
	animation-name: rotateback;
	animation-iteration-count: infinite;
	animation-delay: 0;
	animation-duration: 30s;
}

.saturn{
	position: absolute;
	width: 37vw;
	top: 94vw;
	left:33vw;
	animation-name: emphasize;
	animation-iteration-count: infinite;
	animation-delay: 0;
	animation-duration: 15s;
}

.blue{
	position: absolute;
	width: 40vw;
	top: 160vw;
	left:50vw;
	animation-name: rotate;
	animation-iteration-count: infinite;
	animation-delay: 0;
	animation-duration: 5s;
}

.starshigh{
	position: absolute;
	top: 100px;
	left:100px;
	background-position: center;
	background-repeat: no-repeat;
	width: 80vw;
	animation-name: stars ;
	animation-iteration-count: infinite;
	animation-delay:0;
	animation-duration:30s;
	opacity: .7;
}

.starslow{
	position: absolute;
	top: 480px;
	left:-50px;
	background-position: center;
	background-repeat: no-repeat;
	width: 80vw;
	animation-name: stars ;
	animation-iteration-count: infinite;
	animation-delay:0;
	animation-duration:20s;
	opacity: .7;
}

.rocket{
	position: absolute;
	top: 150vw;
	left:-40vw;
	width: 35vw;
	transform: rotate(80deg);
	animation-name: rocketing ;
	animation-iteration-count: infinite;
	animation-delay:3s;
	animation-duration:60s;
}

.button {
  position: absolute;
  left:48vw;
  top:5vw;
  background-color: rgb(200,200,200);
  border-radius: 40px;
  width: 150px;
  height: 50px;
  margin: 18px auto;  
  line-height: 50px;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.button.alarming {
  background-color: rgb(255,20,40);
  color: white;
  animation-name: pulse ;
}

.launch {
	position: absolute;
	top: 180vw;
	left:0vw;
	width: 110vw;
}

.launch.alarming {
	animation-name: blastoff ;
	animation-iteration-count: infinite;
	animation-delay: 20;
	animation-duration: 12s;
}

.off{
	opacity: 0;
}

@keyframes rotate {
	0%{
		transform: rotate(0deg);
		
	}

	100%{
		transform: rotate(360deg);
	}

}

@keyframes rotateback {
	0%{
		transform: rotate(0deg);
		
	}

	100%{
		transform: rotate(360deg);
	}


}


@keyframes emphasize {
	0%{
		transform: scale(1) ;
		
	}

	50%{
		transform: scale(2);
	}


	100%{
		transform: scale(1);
	
	}
}



@keyframes stars{
	0%{
		opacity: 0 ;
		
	}

	75%{
		opacity: 0;
	}

	100%{
		opacity:75%;
	
	}
}

@keyframes rocketing{
	0%{
		left:px;
	}

	50%{
		left:400px;
		top: -800px;
	}

	100%{
		left:-40vw;
		transform: rotate(270deg);
	}

}

@keyframes pulse {
  0% {
    opacity: 2;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}

@keyframes blastoff {
	0%{
		width:110vw;
		top: 180vw;
		left:0vw;
		transform: rotate(0deg);
	}


	50%{
		width: 200vw;
		top: -400vw;
		left:0vw;
		transform: rotate(0deg);
	}

	100%{
		width:110vw;
		top: 200vw;
		left:0vw;
	}

}

