body{
	margin:auto;
	max-width: 500px;

}

.background{
	background-position: center;
	background-repeat: no-repeat;
	width: 170vw;
}

.back.alarming{
	opacity: .3;

}

.mars{
	position: absolute;
	width: 40vw;
	top: 20vw;
	left:10vw;
	animation-name: rotateback;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-delay: 0;
	animation-duration: 25s;
}

.saturn{
	position: absolute;
	width: 37vw;
	top: 94vw;
	left:33vw;
	animation-name: emphasize;
	animation-iteration-count: infinite;
	animation-delay: 0;
	animation-duration: 12s;
}

.blue{
	position: absolute;
	width: 40vw;
	top: 160vw;
	left:50vw;
	animation-name: rotate;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-delay: 0;
	animation-duration: 5s;
}

.starshigh{
	position: absolute;
	top: 100px;
	left:100px;
	background-position: center;
	background-repeat: no-repeat;
	width: 80vw;
	animation-name: stars ;
	animation-iteration-count: infinite;
	animation-delay:0;
	animation-duration:30s;
	opacity: .7;
}

.starslow{
	position: absolute;
	top: 480px;
	left:-50px;
	background-position: center;
	background-repeat: no-repeat;
	width: 80vw;
	animation-name: stars ;
	animation-iteration-count: infinite;
	animation-delay:0;
	animation-duration:20s;
	opacity: .7;
}

.rocket{
	position: absolute;
	top: 250vw;
	left:0vw;
	width: 35vw;
	transform: rotate(75deg);
	animation-name: rocketing ;
	animation-iteration-count: infinite;
	animation-delay:0s;
	animation-duration:60s;
}

.button {
  position: absolute;
  left:22vw;
  top:180vw;
  background-color: rgb(200,200,200);
  border-radius: 20px;
  width: 200px;
  height: 50px;
  margin: 18px auto;  
  line-height: 50px;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.button.alarming {
  background-color: rgb(255,20,40);
  color: white;
  opacity: 1;
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;  
}

.alert {
  position: absolute;
  left:16vw;
  top:15vw;
  width: 250px;
  margin: 18px auto;  
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.alert.alarming {
  opacity: 1;
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;  
}
.launch {
	position: absolute;
	top: 180vw;
	left:-40vw;
	width: 110vw;
}

.launch.alarming {
	animation-name: blastoff ;
	animation-iteration-count: infinite;
	animation-delay: 0;
	animation-duration: 20s;
}

.off{
	opacity: 0;
}

@keyframes rotate {
	0%{
		transform: rotate(0deg);
		
	}

	100%{
		transform: rotate(360deg);
	}

}

@keyframes rotateback {
	0%{
		transform: rotate(0deg);
		
	}

	100%{
		transform: rotate(360deg);
	}


}


@keyframes emphasize {
	0%{
		transform: scale(1) ;
		
	}

	50%{
		transform: scale(2);
	}


	100%{
		transform: scale(1);
	
	}
}



@keyframes stars{
	0%{
		opacity: 0 ;
		
	}

	75%{
		opacity: 0;
	}

	100%{
		opacity:75%;
	
	}
}

@keyframes rocketing{
	0%{
		left:px;
	}

	50%{
		left:700px;
		top: -800px;
	}

	100%{
		left:-80vw;
		transform: rotate(270deg);
	}

}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blastoff {
	0%{
	top: 180vw;
	left:-20vw;
	width: 110vw;  }

	25%{
	top: -400vw;
	left:50vw;
	width: 200vw;
	transform: rotate(20deg);  }

	50%{
	top: 300vw;
	left:-20vw;
	width: 200vw;
	transform: rotate(-200deg);  }

	75%{
	top: -400vw;
	left:-50vw;
	width: 150vw;
	transform: rotate(0deg);  }

	100%{
	top: 400vw;
	left:-40vw;
	width: 110vw;
	transform: rotate(180deg);  }

	
}

